* {
    text-decoration:none;
    font-family:sans-serif;
}

h2 {
    background:url("data:image/png,%89PNG%0D%0A%1A%0A%00%00%00%0DIHDR%00%00%01%2C%00%00%01F%08%03%00%00%00%E7%CCR%7B%00%00%00%01sRGB%00%AE%CE%1C%E9%00%00%00%60PLTE%D9%16%16%DC%1B%1F%DB)'%DF00%E099%E0CA%E3GI%E2NK%E5QS%E4XV%E6a%60%E7jj%E8rq%EB%7Bz%EA%83%83%EC%8B%88%EE%8E%91%ED%93%94%F0%9D%9C%F0%A5%A6%F2%AD%AC%F3%B6%B7%F6%C0%BF%F5%C6%C4%F7%CE%D0%FA%D4%D5%FB%DC%DB%FA%E3%DF%FC%E7%EA%FD%F0%F1%FF%FA%F8%FE%FF%FC%ABF%04%17%00%00%00%01bKGD%00%88%05%1DH%00%00%00%09pHYs%00%00%07%D5%00%00%07%D5%01%941%82i%00%00%00%07tIME%07%D9%03%0A%0357%C92%A4%13%00%00%0FfIDATx%DA%ED%9Dk%7B%DA%B8%16%85%D7%96l%C0%5CB.%A4%9D%E9%CC%99%FF%FF%BB%E6%996!M%02%84%80mlI%E7%83%81%40B%8C%AF%C8%B4%7B%7Dh%FB%14%EC-%BFZ%7B%5B%B6e%01%B0X%2C%16%8B%C5b%B1X%2C%16%8B%C5b%B1X%2C%16%8B%C5b%B1X%2C%16%8B%C5%B2%2CJ%FBP%E4%DF%9F1%A7l%3C%9D6%AE%93%D6%96%FF%E5%DF_0%AE%BF%CD%B2%E38%8E%94%B4%DB%D3%D1%0F%CB%B0%1A%A9%D6%A0%ED%DA%8A%7Df%B0%3A%C3%8E%C5%E8g%05K%5C%F5%AD%C6%3F'X%F2%AB%0B%86%95%B1%A9%7FH%DB%CE%3E%9F%1C%FC*%C1%B02jd%3F%09%CE%06%D6%85%07%86%95%B5%B8%0F%C1%B0%B2%EAR0%AC%CC%C6%EA%81ae%D5%80%18Vf%F5%C1%B0%B2%AA-%19Vfu%C1%B02%CBcX%D9%1B%E90%AC%EC%25%8B%18Vf%B9%60X%99%E50%2C%86%C5%B0%B8%91%0C%EB%97%84E%C4%B0%CE%AF%8Dg%E1%2C%86%C5%B0~mX%E7%F0%905%ADC%CD*%D6%B11F3%ACc%CE%8A%A6%BEage%83%15%DD%99%C6X%BC%F1z1%60XY%9D%E5%F3%D90%B3%94bX%99%9D%15%F38%2B%87%B3%18Vvg%E9S7%C4%C2%D0A8%92%60%B4*%9DE%F9%CE%85B%3Ae%C3%9E%18%96%E3u%3A%1B3%9B(%0CJ%8D)%B3o%2B%BB%9D%EDCm%13%87~%A0%9B%0F%AB%D7%DF%9D%98M%AD%D6%C0%2C%E7a%ED%B0%BA%FD%CEN%26%93%EB%F6%CDr%E17%1BVo%F8%F1%91%16%F5z%E1%24%AC5lw%D8%3A%14v5%F5%9B%0B%CB%B9%F9d%BA%7F%FB%8F%E5S%7D%A5Z%5E%7F2O%A2%F5%C5%7FR%0D%85%D5%BB%F9%FCr%B8%DByZ%D6e%AB%9B%CFO%F7%DE%B7%E7E%23%87%0E%D7%A3%B4%9BR%E2vX%EC%AE%C31%0DGi%C7'F%D7%0Dt%16%8D%8E%CD%19%BAt%9Ek%B8(%BE96%07n%20%1F%CDi%60%1D%7C%C5%EFP%F5%A1%DB%E3S%86%FA%F4xhKJs%16%89%F4%C6%8C%8EOD%ED%DE%FE%CCA%2B%CD%E2%F4O%FA%0D%92I%C6%18%B7%99%E6%A2%CD%9F%0F%A4%D1e%D6%E38%F0%BE%E1M%A6%B9%95%8B%C7F%D5%AC%EBl%F3%F6%06%17%D5%86%1Df%9B%87%DA%BBj%12%AC%FE%20%E3%17%2F%2B%7D%95%D0%CB%FA%96%C1E%B79%B0%DC%CCg%1C%BA%ADp%9A%AD%1Ce%3E%87f%7F)%A8nXt%9B%FD%C4%2Fn%AA%8B%3B%129%9A%D8%14X%83%3C%B3%F6%BC%CA%A6%BB%F7%F3%A4tk%D8%0CX%F22%D7%D7%AF*JDq%95%EB%EBC%A7%11%B0%AE%F2%8D%BE%C5e5a%87%F9%0E%8B%AE%9B%00%CB%CD%3B%DB%BFW%C9%5C%5B9%C8%B9%81%E75%00%D6e%DE%CB%3A%BA%B2%12%16W%F6a9%F9%DF%8C%F0%DA%15T%AC%5EM)P%2B%ACa%81%FB%05%15%BC%B1zQW%D8%3Aa%89%22oTz%A5%AB%16%0D%0Al%D4%F2%2C%C3%EA%15%BA%11U%FA%12%D1%2BtL%7D%DB%B0%0Am%D5%25%2Ba%3Di%15%96%D3%3E%5D%F2%EEn_%EC%7D%3B%EA%5B%85%D5%3D%A93J%3B%B3g%15V%D17*K%BE%E3%5B4%AC%EBZ%84%25%8B%8E%98%A8%D4K%BET%F8%AD%D7%BEEX%1D%3Au%FE%96%0C%EB%D9%84Ux%CBR%2F%AE%16%BF%02p%A5%3DXm%0B%99T*%ECqk%D5%06K%BA6L%09%3AKXm%2B%19%8C%16%D5%18%B6%91%B0%9C%E2%ADj%95%19%CE%3A%B6%60%95%B9%1E.%91K%A5%EE%F0t%1A%E9%2C5%9F%AE%EA9%E4Tg%E9%D7iP%26l%5D%13CdZ%2F%84%0F%1A%2Fi%13%20%0A%DB%92%D2%8E'%1A%2B%CC%D2%26%40%B8%96%9C%95%D6%C3%E6I%03%26m%DAL%E1%CA%E3%A4%D5%F7%89%02P%26l%5D%B0%D2zx%15%01%40%1C%D6P%E1%D3%BC%11%FB%00%A0%FD%82%BE%AC%11VZ%AB%D7%94%82%1AN%0Fi%DB%05%C7%C3%B6%EC%D4%AC%D4%DA%B1%F7%D7%E1%83N%80%CE%5E%00%60%90%F6%ECE%7D%CF%1Av%3D%01~U%BC%8Fl%C0R%7B%8DO%ED%E2%0C3%CDLNXqqX6jV%BC%C7%EC%F0%C9%B4%864%5COJT%A6i%B0%24%1D%F7%82%AA%BEf%918%0E%2B%CD%ADv%0A%BC%93%25qL%E5%D5!%B5%8F%F4%BB%BF%0F%D1%90V%9C%85r%AD%26Y%7DXs%3C%2C%1A%07%CBdi%B5c%A5%8F%8E%84%B5%E1%2C%D8%81%85stV%8D%3B%C8%94%86h%9A%B3D%96F%5Br%96i%9A%B3%84%9D%1D%88%92'%E1%23am%14x%94n%F5%A7'%D1%B2aec%D3%D0%94M%A8S%97%CA%A6%A6%A1%25X%A2%AE%0B%E9%CE%C79%FE%CB%F5%CD%22%CA%94%0F8i%1Af%8AOB%D7%03%AB%F5%F1%EE%CF%AA2%BF%12%99%8Aa%99%F2%B8%EBIC%B2%93%C8%15%2C%3B)~%1BX%15%1C%8CszX%D9%F6j*wV%CD%DDl%13V%E5'6*%7B%B5%D3%BC44%B5%B9D%D4%DC%CD%8D%ADY%96%60%D1o%03%0Bg%E9%2CK%BC%E9wu%96dX%8DOC%E24%FC%D5%9D%05v%D6y%F3%E64%E44%E4%B3!%D7%ACs%82eaQ%D7%ED-%3A%B2%13%B6%B8%2C%C0r%FF%B1%E2%2C%F1O%F9%5D45%0DM%03%D3%90k%D6%AF%E0%2C%1E%C1%B3%B3~%1F1%2C%86%C5%B0%18%16%C3bX%2C%86%C5%B0%18%16%C3bX%0C%8B%C5%B0%18%16%C3bX%0C%8Ba%B1%18%16%C3%AAG%25%9EH%BFL%3F%FC%97aX%9F%C9p%1A%B2%18%16%C3%3A%A3%9AUk%A93v%E2%9A%86%C1%8A%EE%AC%D8B%FD%C7i%C85%8Ba1%2C%86%C5bX%0C%8Ba1%2C%86%C5%B0X%8D%B96%DCQ%CAo7%E9%A0%BE%B0%DE%E7%93%EC%8D%DFXX)%BF%0D%BE%AA%F1r%FBF%16%BB%DC%E64%E4%9A%C5%B0%18%16%C3bX%2C%86%C5%B0%18%16%C3bX%86a%B1%B3%D8Y%BF%A9%B3%0C%C3%E24lj%26%1Bv%16%A7%E1%E9%0D%CDi%C8%05%9E%0B%FC%2F%3Ath%E2%A9%8Ck%D6%BE4%0F%1D%D8YM%ADY%16%60%E9f%C3%A2s%84E%CDs%16%9F%0D%CF%B8f%11%A7a%91VS%F9L%DE%0Fk%EA%ED%A3%C6%16xm'%0Fm%8C%B3%CA%FF%C4U%A1%E3V%A5%1D%AD%2C%C0%D2V%D2%B0%EE%3E%B2%00%8B%EC8%8B%CE%12V%A3%9D%A5%1B%06Kd%0A%AE%1Bhh%ABi(%CA%D7%EA%1C%84)%0B%AC%D8%02%2CU6%1F%8C%AE%3C%EC6%9ASt%0F5%C1J%EB%A0%B7_%DE%10U%8F%D4%B2%C1%12E%FB%C8F%81%DF%B6Z%16L%87%92IT%B8%8F%2C8%2BS%ABU%F5%CE%CA%126%B6%01%2B%B5%D52%83%B3T%8Da%9D%A2a%AD%C2r%3F%FFNT%EC*%2B%D3%90%C5i%98%B3%8C%CA%00%8B%9C%AA%9D%95z%B0%DB%3Ej%15%ED%A3%BA%1EX%ACR%3E%DB%18%CA%A5b%DB%A3%D8%C1n%C2J%D14Xi%5D%BC1T%B7%A03%0B%F6Q%EBxX%3Bi%98%DA%EA%8E8%DA%EA%D8T%DFG%AEs4%AC%B6R%E0S%FDL%7D%00%40%3F%A5%BE%875%F4%11.%12V%9D%C2am%C0%C2e%07%40%E7%0A%D5%C3Jud%BF%0B%C0%BD.%1E%B6%AE7Yu%94%E2%1B%FA%E2%C7n%87j%80%850%C57t%EBG%8EGE%8DY%E3k%BF%A1%9B%96%88%DD%23%23%8F%A8h%D8U'%EDS%CFK%0Fk)%0D%8B%7B%03%00%02%3Bacm%09V%60g%E3Ra%7DX%82%15%EB%1A%5B%9DV%2Bk%EC%A3%FA%A6%1C%15%3F%60%A8%C8%8A%A3%CDY%C2%F2-%855%F6%60%19%2B%B0%02%5D%9F)%EB%83%A5W%85%B7%2C%03%CB%14%CEC%B3%B0%07%0BK%0B%9E%2Cc%CB%E3%9El%22%ACe%B9%B0%A6%B6%B05%C2%8AC%0BYX%7Csc%15%16%5EOl%8D%B5%16%05%D3W%5B%85U%F0%A8_K%86%F5u%5D%8C%EB%84%A5%0B%15%9FUX2%AC)d-%B5%B4%0B%0B%F3%93m%B4%A7%97%22%8E~%81eXa%81Z%AB%17%A5%C3%C6%05%1Cm%5Em%C3%C2%AC%40%C5%AA%60~%F64%FF%3E%16%DA%3A%AC0%F7p%DA%BCT%106%BF%B5%B2%85%AD%F9E%A7%DC%7D%3CWV%C2.%A3%06%C0%0AsV%20%3D%AB%24l%9C%D3%9Ff%82%06%C0%C2%24%9FS%A6%BA%9A%B0%B3%A8%0E%3F%D7%0DK%3F%E7r%C4kEa%CD%93%A9%C1%CF%B5%BF%9C%B9%CC%91%88%E6%B1%B27%A4%C2%3C%C3%B5'%DD%10Xx%CA%3E%22%9F%85%15%E6%7F%F63%E2%3C%EBW%EB%87e%1E%B2Ny%0CfU%C6%7D%CCz%F31%9A%A01%B0%A0%C7%D9%5C%AE%1F%2B%EE%A4lU%DB%FC4%0D%82%85%F8%3EK%B3%F5%BD%AA6%AC%BA%8B21%CD~%E2%3C%C9%DB%F7Q%86f%EBqTuXu%1Fd%F0U%8E%8B%8C%D3%2CU%A0%EE%8F%5DR%EB%87U%0D%05%E0%E1%D8%A9%D8%3C%E6%B9%D6%3F%D1%BA%0E%FA%E19%B52%84wa%1Da%CD%E3%A3N%B7%7C%AE%AB%C8%D4Y4%E9%0E%CD9H%5E%DEx%9F_%C6NS%7D%99%D6%8E%23%85n%E1_%F7%3Eo%D3%24%DF%B8%8Ep%3Au%07%07%E7%03%19%7F%1A%D5%19%D6%1B%1C%9E%0A%E6%E7%1E%D6%9D%12%16%E0%5E%F4%DE%074%8BY%5CwX%E7%A2%FF!%ECr%96%BF%87N%0B%0B%A0v%BB%BD%EDh%13%84ax%925%20%A8%D5%EE%B47%F5%D9%84a%18%14%09%7BjXIP!%1C%C4Z%1B%0Ba%95%D6%1A%2C%16%8B%C5b%B1X%2C%16%8B%C5b%B1X%ACs%95lr%E3z%5D%E8ag%D5%98%F64z%D5%EE%DEe%8B.%2F%E9%17r%96%90%BA%F0%26%E4%A4n%2BulDt%ECi%159%B4%BE%E5*%C5%91%7B%AF%E4%96%BA9%9B%F6(L~%03%94V%D3%08%F47%00%FCP%DD%1B%04%3F%07%97%98%B5%93%E74%EAG%F7ZB%07%1F%E7%EC%C8o%C0%EB%E4k%0B%F1b%08%00O%E2%0AF%ABx%A2%E1%5D%3B0%FE%93%86%BC%E9%90%09%26%11%FD%0DLi%08%3C%7C%01%EE%DC%110%9D%7F%93%98%BD%C4%17%3D%98%B9%C1%C5%10F%ABhb%BA7%C0%8F%2F%0E%16%93%BF%81%EF%E2O%84%0F%E8_%09D%8B%19p1%14%D0%8BI%7B%FD%E3%D4O%17.%96%CB%11p%DF%BE%02%80%C9%AB%B8%F1%C8%AC%1Ec%F1%17%A0%B5%9A%85%F8%26%B1x%FE%1F%00%AC%C6%7F%13~%98%BF%10%DF%15%83%05%01%08%C0%FB%11'%CB%B7%B4%7C%08x%82%04%40I%FA%9A%D6%88%00%D1%15%E3%F7%9B*%22H%B8%02*%F9*%91%00%A4%8B%F6%0F%F7%96%00%EA%CA%7B%FAS%02%E4%B5%EE%B4%00%08%02F%09%408%02p%C8%05tgD%00%5D%88%A7d%DBN%EB%9E%04%00%12%20%08%C0%0B%05%04%3A%D7%04%B8%97%98%F5%AE%00%88%01%FCue!%B1%FE%DE%BA%B1%84%3F%5C%80%DA%7F~_%1FWg%1C%0A%914%0C%90%10%84%DE%ABH%7D(q%ACf-b%90%B7%5E%F3%C6%016%AB%0CD%81%06L%10%B4%09%D1%E3%C1u%83%22%40B%AC%1F%82%06%C9%EBi%2F%80%2B%5B%84%F8'%D0BO%02%F7%0A%F2%ED!%A82%80t%00%08%09%40%F5%09%E1%14%E8%89%F5%B6%AD%FD%C6%26%CB%1D%5C%10%FC)0D%1BXN%81%96%0AV%9B%06%EE(%0CT%DB%05~%1A%88%1E%00%2C%23P%7B%FBi%1C%84%00%E0%95%2C%F0%81%0F%B4%E0%00z%B3L%90%07%00%93q%00%C4%E3G%07P!%20%C4AX%82%D6%CF%AD%C7c%1F%00f1%D0v%00%1D%02%24%25%60%C2x%D7%DCF%AF9I%17%40%E4%02%F1jc%8C%A9%DE%3D%3A%60%F3%0B%F6%0E%10G%00%09'y%B7%DAY%8D%9F%00L%C6%FB%93%18%1E%C6K%17%40%A0%D6%87%11%2C%81%B7%DD%CD%C7O%00%D0%96%C5k%D6%86%A6%86%03%04%DD%F5w%BD%DD%87%931%D0n%FFwh%AD%BC%08%90%12%80r%F6w%A6%04%E0z%FF%25%FF0%DB%FEJ%9A%19%CB%04%96%90%80Q%9B%8C%A0%CD%9F%F1%9E%83%13%8Fo%BAI*%A0%E7%BF%FB%E5z%DA%3DzB%B2%AE7%BD%1D%D7%FB%FA%DF-%07%EB%C2%01B8%C0%AA%BBv%16%ED%9A50D%A3%C5%F3%81sZ%0C%08%17%40%E4%00%B8%C5%04%00%BE%08%98H%19%A2%9B%C5%B3N%1A%BDy%88%97%2C%AA%A3%D6%A6%92%12x%7B%AA(%00%E0%2BA%EF%C3J%F2%90%00%2C%FF%05%8C%DF%87%B8%9D%EF%CF%80%EFn%8F~d%A6%BB%D00%90%BB%0Bf%F4%DB%E1%CB%5Bf%17%86%E5%C2%3C.%E1%02%91!%99%F4%C9n%8B%A3%C9%15%A1%D7%B9%8F%0F9%0B%0E%D6%8B4u1%05%806%A2%07%AD%9F%AF%09%3D%EF%3E1%E8%03v%1F%F4%C6%80%100%24%24%10%EF%D7%DA6%A2%F1%BB%F3%FE%B6!%23%01%3C%2F%E7%03%D0E%E7%93i%86%1E%5E%E9%DDq%3D%BFM%8Dv%D7C%8AV%B9%9A%E5k%1Au!%81H'%CB%CE%BDk%CB%7C%1C%03%F2%EBAg%A1%B5qN%9C%C0%7C%85%FB%A7%C0%EB%5D%04%88%AF%FB%A7%9D%F5%F7%00%87%E0%83%E4%87%E91%C9%B6%3B%DAY)%BF%E3y%1E%E1%F9%A7%06Z%A3%BD%EFl%5B%AB%DE-%CA%E1%2B%BA%EE%BFE%8F5%8E%AC%BD%9F%05%D6%D2%07yB%00-%93%94%C6%FDI%02NWN%96%80%D3%FE%B0%A1%D6%40k%B3%FA%D7%F7%EF%11%00L4D%C7%E9%BA%D3%05%20%93%91%DA%ED_%7F%DD%00%C0l%B6NC%17%08%40.%A0%B6%EB%1C%1B%00x6%90%7BQ%F4%5B%16%BD%00%40%AB%8B%A7%F0m%25%B3%A4%F5%DBi%AA%3F%BE%EFO%AA%F0%97%BB%F5d%F6%FD%19%A8%60y%15%BD%5E%C8p%E4%24i%A5%F7%E6%E9%F4no%07%CF%87%B3y%95%9C%A9%F6G_%00y%B7%B7%C3g%002%06%00%E98%FBv%94%80o%E0%ECN%FF2%1B%23%D1%FE%F1n%3F%0C%00%E0%E2%F6%B63%7BW%D3%F7d6E~%DB%94%0FiT%C1%B5!mW4%FC%B0%C7%18%20e%0E.v%1D''%B0uM%D8%1E%02)%80%B4NR%84%B6%23%B1%9Dm%8C%8AA%80%82%5E%2F-%BC%BFs%DA%9C%C7%FCmg%CA%CD%D1G%F8l%DD%ED%96%2B%CDzc%B3W%E9%93%04q%93C3%25%87%0E%9B%F3%FA%7F%D7%EB%B1%83%7F%B5O%A45%A2%83%B3%00%A3m%E9%02%BEa%1E%ED%FC%BFs%23%92Oh%B4g!hC%802%2B%17%40%0C%BF%8D%B6%00%A27w%86%86p%25%D6%8B%82E%B1%03%60%E5%C2s%D6%FB%F5%04%60%0E%CF%F6%FA%8A%C5%C4%10%AE%C5A%FF%0C%06%F8%17%80Z%B5%CB%DFup%01%A3%D4%FAd%11%ED%B6%26%7C%05%F5%80Et%B8%C2%1FZ%B10%9A%83%FA%C0r%15%BE%00%3D%C2b%F1n%A3(%D9H%E15%82%EC%E0%ED%9C%0F%A8%A9A%97%10%2C%DF%B2f%A6!%3B%11%80%85%0F%D9M%7B%7DW%CD%80.a%99%92l~qg%99)%10*%85%181%0C%96%0A%88%A6%880q%11%02%CB%154%80'%BF%E3%C4%07_%94%0B%A7%00%10%22%98%02%C0JM%013%17%08%F1%1C%B4%DD8%5C%00%93%B0%EDFA%00L%810%19%5C%BCH%20%C2%C2%00PPw%83%96%88%5E%A3d%173B%84%97%B0%EB%EAp%0ELa0WP%88%EE%06%EE%EAe%00m~v%3B2%0A%7C%40M%81%08%98%0BD%D1%14%D0IK%22%CCV%9E%A3%82%05%CC%14X%D1%14%0A%2F%84h%D3%19S%02%16%95%FC%B0%0B%8B%C5b%B1X%2C%16%8B%C5b%B1X%2C%16%8B%C5b%B1X%2C%16%AB%11%FA%3F%7Di%FF%80'%0DF%E6%00%00%00%00IEND%AEB%60%82");
    float:left;
    height:325px;
    margin:25px 25px 25px 0px;
    width:300px;
}

h2 a {
    display:none;
}

body > b:before {
    content:"Leserreporter: ";
}

body > div, body > h3, body > p {
    display:none;
}

a [href]^="http://blog.fefe.de" {
    display:none;
}

b+a, b+a+a {
    color:inherit !important;
    border:inherit !important;
    display:inline !important;
    font-size:inherit !important;
    text-decoration:underline;
}

blockquote {
    font-weight:bold;
}

body {
    background-color:white;
    padding:0px 25px;
}

ul {
    list-style-type: none;
    margin:0;
    padding:0;
    vertical-align:top;
}

li {
    margin:0px 10px 10px 0px;
    padding:10px;
}

ul li a {
    color:inherit;
    display:none;
    font-weight:bold;
}

ul lu {
    background-color:black;
    color:white;
}

ul li a+a {
    background-color:transparent;
    display:inline;
    font-size:60px;
    border-bottom:10px solid #d91918;
}

ul li+li, ul li+li+li+li+li+li, ul ~ ul li+li {
    float:left;
    background-color:black;
    color:white;
    display:block;
    max-width:30%;
}

ul li+li a+a {
    border-bottom:5px solid #d91918;
    font-size:30px;
}

ul li+li+li+li+li+li a+a, ul ~ ul li+li a+a {
    color:white;
}

ul li+li+li {
    background-color:white;
    border:5px solid black;
    color:black;
    max-width:60%;
}

ul li+li+li a+a {
    color:#d91918;
    border-bottom:5px solid black;
    font-size:40px;
}

ul li+li+li > a+a:before {
    background-color:#d91918;
    color:white;
    content:"Exklusiv: ";
}

ul li+li+li+li+li+li+li > a+a:before {
    background-color:black;
    color:white;
    content:"Unfassbar: ";
}

ul li+li+li+li {
    background-color:white;
    border:none;
    clear:both;
    color:black;
    float:left;
    max-width:30%;
}

ul li+li+li+li a+a:before,
ul li+li+li+li+li a+a:before,
ul li+li+li+li+li+li a+a:before,
ul li+li+li+li+li+li+li+li a+a:before {
    content:none;
}

ul li+li+li+li+li, ul ~ ul li {
    background-color:white;
    border:none;
    color:black;
    float:right;
    max-width:30%;
}


ul li+li+li+li+li a+a, ul ~ ul li a+a {
    font-size:30px;
    border-width:5px;
}


ul li+li+li+li+li {
    clear:none;
}
